:root {
    --color-default: #d2d1d1;
    --color-primary: #0275d8;
    --color-success: #5cb85c;
    --color-danger: #d9534f; 
    --color-info: #5bc0de;
    --color-warning: #f0ad4e;
    --color-dark: #292b2c;
    --color-light: #f7f7f7;
    --color-black: black;
    --color-white: white;
    --color-blue: blue;
    --color-royal-blue: royalBlue;
    --color-midnight-blue: midnightBlue;
    --color-dodger-blue: dodgerBlue;
    --color-aqua: aqua;
    --color-navy: navy;
    --color-brown: brown;
    --color-cyan: cyan;
    --color-gray: gray;
    --color-grey: grey;
    --color-green: green;
    --color-lime: lime;
    --color-khaki: khaki;
    --color-forest-green: forestGreen;
    --color-olive: olive;
    --color-orange: orange;
    --color-chocolate: chocolate;
    --color-pink: pink;
    --color-hot-pink: hotPink;
    --color-magenta: magenta;
    --color-violet: violet;
    --color-deep-pink: deepPink;
    --color-purple: purple;
    --color-blue-violet: blueViolet;
    --color-indigo: indigo;
    --color-red: red;
    --color-crimson: crimson;
    --color-yellow: yellow;
    --color-gold: gold;
    --color-silver: silver;

    --font-arial: "Arial";
}