.background-primary{background-color:var(--color-primary)!important;}
.text-primary{color: var(--color-primary)!important;}
.background-success{background-color:var(--color-success)!important;}
.text-success{color: var(--color-success)!important;}
.background-danger{background-color:var(--color-danger)!important;}
.text-danger{color: var(--color-danger)!important;}
.background-info{background-color:var(--color-info)!important;}
.text-info{color: var(--color-info)!important;}
.background-warning{background-color:var(--color-warning)!important;}
.text-warning{color: var(--color-warning)!important;}
.background-dark{background-color:var(--color-dark)!important;}
.text-dark{color: var(--color-dark)!important;}
.background-light{background-color:var(--color-light)!important;}
.text-light{color: var(--color-light)!important;}
.background-black{background-color:var(--color-black)}
.text-black{color: var(--color-black)!important;}
.background-white{background-color:var(--color-white)!important;}
.text-white{color: var(--color-white)!important;}
.background-blue{background-color:var(--color-blue)!important;}
.text-blue{color: var(--color-blue)!important;}
.background-royal-blue{background-color:var(--color-royal-blue)!important;}
.text-royal-blue{color: var(--color-royal-blue)!important;}
.background-midnight-blue{background-color:var(--color-midnight-blue)!important;}
.text-midnight-blue{color: var(--color-midnight-blue)!important;}
.background-dodger-blue{background-color:var(--color-dodger-blue)!important;}
.text-dodger-blue{color: var(--color-dodger-blue)!important;}
.background-aqua{background-color:var(--color-aqua)!important;}
.text-aqua{color: var(--color-aqua)!important;}
.background-navy{background-color:var(--color-navy)!important;}
.text-navy{color: var(--color-navy)!important;}
.background-brown{background-color:var(--color-brown)!important;}
.text-brown{color: var(--color-brown)!important;}
.background-cyan{background-color:var(--color-cyan)!important;}
.text-cyan{color: var(--color-cyan)!important;}
.background-gray{background-color:var(--color-gray)!important;}
.text-gray{color: var(--color-gray)!important;}
.background-grey{background-color:var(--color-grey)!important;}
.text-grey{color: var(--color-grey)!important;}
.background-green{background-color:var(--color-green)!important;}
.text-green{color: var(--color-green)!important;}
.background-lime{background-color:var(--color-lime)!important;}
.text-lime{color: var(--color-lime)!important;}
.background-khaki{background-color:var(--color-khaki)!important;}
.text-khaki{color: var(--color-khaki)!important;}
.background-forest-green{background-color:var(--color-forest-green)!important;}
.text-forest-green{color: var(--color-forest-green)!important;}
.background-olive{background-color:var(--color-olive)!important;}
.text-olive{color: var(--color-olive)!important;}
.background-orange{background-color:var(--color-orange)!important;}
.text-orange{color: var(--color-orange)!important;}
.background-chocolate{background-color:var(--color-chocolate)!important;}
.text-chocolate{color: var(--color-chocolate)!important;}
.background-pink{background-color:var(--color-pink)!important;}
.text-pink{color: var(--color-pink)!important;}
.background-hot-pink{background-color:var(--color-hot-pink)!important;}
.text-hot-pink{color: var(--color-hot-pink)!important;}
.background-magenta{background-color:var(--color-magenta)!important;}
.text-magenta{color: var(--color-magenta)!important;}
.background-violet{background-color:var(--color-violet)!important;}
.text-violet{color: var(--color-violet)!important;}
.background-deep-pink{background-color:var(--color-deep-pink)!important;}
.text-deep-pink{color: var(--color-deep-pink)!important;}
.background-purple{background-color:var(--color-purple)!important;}
.text-purple{color: var(--color-purple)!important;}
.background-blue-violet{background-color:var(--color-blue-violet)!important;}
.text-blue-violet{color: var(--color-blue-violet)!important;}
.background-indigo{background-color:var(--color-indigo)!important;}
.text-indigo{color: var(--color-indigo)!important;}
.background-red{background-color:var(--color-red)!important;}
.text-red{color: var(--color-red)!important;}
.background-crimson{background-color:var(--color-crimson)!important;}
.text-crimson{color: var(--color-crimson)!important;}
.background-yellow{background-color:var(--color-yellow)!important;}
.text-yellow{color: var(--color-yellow)!important;}
.background-gold{background-color:var(--color-gold)!important;}
.text-gold{color: var(--color-gold)!important;}
.background-silver{background-color:var(--color-silver)!important;}
.text-silver{color: var(--color-silver)!important;}