.image {
    display: block;
    position: relative;
  }
  
  .image img {
    display: block;
    height: auto;
    width: 100%;
  }
  
  .image.rounded {
    border-radius: 15%;
  }

  .image.circle {
    border-radius: 50%;
  }

  .image.fullwidth {
    width: 100%;
  }

  